{% block report %}
    <p>{{ 'email.hello' |trans }} {{ approver }},</p>
    <p>{{ submitter }} hate eine Zeit Tabelle zur Bestätigung eingesendet: {{ week }}</p>
    <a href="{{ url }}">{{ week }}</a>
{% endblock %}

